body {
    margin: 1.5em;
    font-family: hoefler text, georgia, serif;
    color: #333;
    line-height: 1.6; }

p {
    margin-bottom: 1em;
    margin-top: 0; }

h1 {
    font-size: 2em;
    margin-left: 2em; }

.verse {
    margin-bottom: 0.33em; }

.verse-number, .main-part, .annotations-part {
    display: inline-block;
    vertical-align: top; }

.verse-number {
    text-align: right;
    width: 2.5em;
    font-size: 1.33em;
    color: #888;
    position:relative;
    top: -0.2em;
    margin-right: 0.5em; }

.main-part {
    width: 60%;
    min-width: 40em;
    max-width: 75em; }

.annotations-part {
    position: relative;
    width: 33%;
    margin-left: 0.5em;
    max-width: 40em;
    min-width: 20em; }

.annotations-part div.annotation-link {
    display: inline-block;
    color: #777;
    margin-right: 0.5em; }

.annotations-part div.annotation-link:hover {
    cursor: pointer;
    font-weight: bold;
    color: #333; }

.annotations-part div.open-reference .close-btn {
    font-weight: bold;
    color: #888;
    position: absolute;
    font-family: sans-serif;
    cursor: pointer;
    top: 0.25em;
    right: 0.75em; }

.annotations-part div.open-reference .close-btn:hover {
    color: #333; }

.annotations-part div.open-reference {
    z-index: 50;
    position: absolute;
    border: 1px solid #eee;
    border-radius: 0.5em;
    background-color: white;
    padding: 1.25em;
    top: -3em;
    left: -1.25em; }

.annotations-part div.annotation-link:hover .open-reference {
    cursor: default;
    font-weight: normal;
    color: #333; }
    
.open-reference .ref-author-name {
    font-size: 0.85em;
    font-weight: bold; }


.open-reference .ref-title {
    font-size: 0.85em;
    color: #888; }

.prev-btn, .next-btn {
    position: absolute;
    left: -0.85em;
    top: 2em;
    cursor: pointer;
    width: 1.5em;
    height: 1.5em;
    padding-top: 0.5em;
    border-radius: 0.25em;
    background:white;
    border: 1px solid #eee;
    text-align: center;
    vertical-align: middle;
    color: #888; }

.next-btn {
    left: auto;
    right: -0.85em; }

.prev-btn:hover, .next-btn:hover {
    color: #333; }


#open-navigation {
    position: absolute;
    top: 1.35em;
    left: 1em;
    font-size: 1.6em; }

#open-lectionary-navigation {
    position: absolute;
    top: 2.85em;
    left: 1em;
    font-size: 1.6em; }

#open-button, #open-lectionary-navigation {
    cursor: pointer;
    color: #888; }

#open-button:hover, #open-lectionary-navigation:hover {
    color: #333; }



#navigation, #lectionary-navigation {
    position: absolute;
    top: 4.5em;
    left: 1em;
    border: 1px solid #eee;
    background-color: white;
    padding: 1em;
    padding-top: 0.25em;
    border-radius: 0.5em;
    z-index: 50;
    width: 20em;
    max-height: calc(100vh - 8em);
    overflow-y: auto;
}

#navigation strong {
    margin-top: 0.75em;
    display: block; }

#navigation .chapter-link {
    cursor: pointer;
    margin-right: 0.5em;
    display: inline-block; }
    
#lectionary-navigation {
}

